@import "./reset";
@import "./variables";

// ========= All Mixins =========
@mixin center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

@mixin button-shadow {
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5),
    6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}

.html,
body {
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $body-background;

  display: grid;
  grid-template-rows: 1fr auto;
  align-items: start;
  min-height: 100vh;
}

/* Global CSS Class */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  color: #444;
}
.center {
  @include center();
}
.socket {
  border-top: 2.1px solid #000;
}
.img_container {
  position: relative;
  width: 10rem;
  margin: 0 auto;

  &:hover .caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover img {
    filter: blur(3px) brightness(80%);
    transition: all 0.5s;
  }
  img {
    border: 5px solid #fff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
}
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
  text-align: center;
  width: 100%;
}

.custom-btn {
  @include button-shadow();
  padding: 1.5em;
  background: #efefef;
  border: none;
  border-radius: 0.5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.custom-btn:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.custom-btn:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.page__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stack__container {
  margin-top: 150px;
  width: 50%;
  margin-inline: auto;
}
.animate__moveInLeft {
  animation: moveInLeft 1s ease-out;
}
.animate__moveInRight {
  animation: moveInRight 1s ease-out;
  animation-fill-mode: backwards;
}
.animate__moveInBottom {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.animate__fadeIn {
  animation: fadeIn 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.animate__moveInUp {
  animation: moveInUp 1s ease-out;
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
