// ========= GLOBAL VARIABLE =========
// All Fonts
$font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, vetica Neue, sans-serif;

// All Colors
$primary-app-color: #2d3436;
$body-background: #f1f1f1;
