@font-face {
  font-family: "Helvetica Now Display";
  src: url("../fonts/HelveticaNowDisplay-Regular.ttf");
}
@font-face {
  font-family: "Helvetica Now Text";
  src: url("../fonts/HelveticaNowText-Regular.ttf");
}

// ========= GLOBAL VARIABLE =========
// All Fonts
$font-header: "Helvetica Now Display", sans-serif;
$font-body: "Helvetica Now Text", sans-serif;

// All Colors
$primary-app-color: #2d3436;
$body-background: #f1f1f1;
